/**********************************/
/* Reset some of the WH styesheet */
/**********************************/

* {
}

body {
	font-family:sans-serif;
    width: 900px;
}

h1 {
    padding-left:1em;
    margin-left:-1em;
    margin-right:-1rem;

}

/*****************/
/* Global layout */
/*****************/

p,
pre,
ol,
dl,
ul,
table,
hr {
    margin: 1em 0;
}

hr {
    height: 1px;
    border-style: none;
    background-color: #BCBCBC;
}

blockquote {
    margin: 2em 4em;
}


/***********/
/* Headers */
/***********/

h1, h2, h3, h4, dt {
    color: #77A43B;
}

h1 {
    line-height: 1.13;
    margin-top : 0;
    padding-bottom: .3em;
    margin-bottom: 0;
    padding-left:3em;
    margin-left:-3em;
    margin-right:0em;
}

h2 {
    font-size:1.35em;
    font-style: normal;
    font-family: sans-serif;
    line-height: 1.2;
    margin: 0.8em 0;
    padding-top: 1em;
    border-bottom: 1px solid #BCBCBC;
}

h3 {
    font-size:1.17em;
    line-height: 1.28;
    margin: 0.85em 0
}

h4 {
    font-size:1.08em;
    line-height: 1.39;
    margin: 0.92em 0;
    font-style:italic;
    margin-top:1.5rem;
    margin-bottom:.2rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}


/*********/
/* Links */
/*********/

a {
	color: #DE5B17;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
	text-decoration-color: #DE5B17;
}

a.ulink::after {
	content: " ↗️";
}

.figure-title {
    font-style:italic;
    color: #77A43B;
    font-size : .9em;
    margin-bottom: .75em;
}

.figure-contents img {
    max-width: 100%;
    height: auto;

}

/***********/
/* Keycaps */
/***********/

.keycap,
td>span.keycaps,
span.term>span.keycap {
    display:inline-block;
    font-size: .8rem;
    border: 1px solid;
    border-radius:4px;
    margin: 0 .2rem;
    background: lightgreen;
    color: black;
	padding-left:.3rem;
	padding-right:1.2rem; 
}


/*****************************************/
/* Various font, colors and box settings */
/*****************************************/


.literal {
    font-weight: bold;
}

code,
tt,
kbd,
samp,
var,
pre {
    font-family: monospace;
    font-size: 1.3em;
}

kbd {
    font-weight: bold;
    border: 1px solid #77A43B;
    border-radius: 3px;
    padding: 0.125em 0.25em;
}

samp {
    background-color: lightgreen;
    padding: 0.125em 0.25em;
}

var {
    font-style: italic;
}

abbr {
    font-weight: bold;
    text-decoration: none;
}

cite {
    font-style: italic;
}

dfn {
    font-style: italic;
    border-bottom: 1px dotted #77A43B;
}

pre {
    white-space: pre;
    background-color: lightgreen;
    border: 1px dotted #77A43B;
    padding: 0.5em;
    margin: 1.1em 0;
}


/**********************/
/* List bullets, etc. */
/**********************/

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: square;
}

ol > li {
    list-style-image: none;
}

li {
    margin: 1em 0;
}

dt {
    margin-top: 1em;
    margin-bottom: 0;
}

dt + dt {
    margin-top: 0;
}

dd {
    margin-top: 0;
    margin-bottom: 1em;
}


span.guimenu,
span.guimenuitem,
span.guilabel
{
    font-family: sans-serif;
    font-size: 1em;
    padding: 0px 0px;
}
